<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Список пользователей</h1>
        <a href="{% url 'user_create' %}" class="btn btn-primary mb-3">Создать пользователя</a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Эл.почта</th>
                    <th>Дата регистрации</th>
                    <th>Доступные действия</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.registration_date|date:"Y-m-d" }}</td>
                    <td>
                        <a href="{% url 'user_detail' user.pk %}" class="btn btn-sm btn-info">Подробнее</a>
                        <form action="{% url 'user_delete' user.pk %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
